body {
    font-size: 11px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    font-weight: bold;
}

.div-2 {
    width: 50%;
    float: left;
    padding: 0 4px 0 0;
}

.div-3 {
    width: 33.3%;
    float: left;
    padding: 0 4px 0 0;
}

.div-3 tr td {
    vertical-align: top;
    padding-top: 0;
}

.label-2 label {
    padding-top: 12px;
}

.table th, .table td {
    padding: 2px 4px;
}

.table th {
    text-align: center;
}

.table th.number, .table td.number {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.logo {
    float: left;
    width: 20%;
}

.judul {
    float: left;
    width: 80%;
    padding-left: 20px;
}

.judul h4 {
    margin-bottom: 4px;
}